html{
    height: 100%;
    padding:0;
    margin:0;
    
    
}


body{
    
    background: linear-gradient(45deg ,#e4f1fe, #8dc6ff );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    margin:0;
    padding:0;
    
    
}
.top{
    border-style: solid;
    border-color: #34495e;
    border-radius: 10px;
}
.nav1 {
display: flex;
height: 50  px;
justify-content: center;
color:#34495e;
border-style: solid;
border-color: #34495e;
border-radius: 10px;
background-color: #e4fefc;
}

.nav11{
height: 50px;
width:100px;
border-radius:20%;
color: #34495e;
background-color:rgba(128, 128, 128, 0.104);
text-align: center;
padding-top:1%;
border:black solid;
}




.Facts{
    display:flex;
    flex-direction: row;
    height:auto;
}

#arrow{
    font-size: 25px;
    text-align: center;
    color: black;
    height:130px;
    margin:0;
    padding:0;
    position:relative;
    top:50px;
    background-color:#8dc6ff;
    border: gray solid;
    box-shadow:10px 5px 5px black ;
    border-radius: 5%;}
    

.buttons{
display: flex;
padding-bottom: 10px;
}

#myBtn{

    font-weight: bold;
    color:#34495e;
    background-color: #e4fefc;
    height: 220px;
    width: 220px;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  10px 5px 5px black;
    border-radius: 5%;
    font-size: 3rem;
    text-align: center;
}
#myBtn1{
   
    font-weight: bold;
    background-color: #e4fefc;
    height: 220px;
    width: 220px;
    color: #34495e;
    font-size:3rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  10px 5px 5px black;
    border-radius: 5%;
    text-align: center;
}
#name {
    display: block;
    color:#34495e;
    width:450px;
    height:75px;
    border: grey solid;
    font-size: 1.2rem;
    margin:auto;
    text-align:center;
    padding: 80px 50px;  
    background:linear-gradient(45deg ,ivory, #8dc6ff);
    box-shadow:10px 5px 5px black;
    border-radius: 5%;
    padding-top:10px;
    color:#34495e;
}

#answer{
    display: block;
    color:#34495e;
    width:450px;
    height:75px;
    border: grey solid;
    font-size: 1.2rem;
    margin:auto;
    text-align:center;
    padding: 80px 50px;  
    background:linear-gradient(45deg ,ivory, #8dc6ff);
    box-shadow:10px 5px 5px black;
    border-radius: 5%;
    padding-top:10px;
    color:#34495e;
}
.title{
    display: block;
    color:#34495e;
    width:450px;
    height:75px;
    margin-left: 510px;
    text-align: center;
    font-size: 2.7rem;
    font-weight: bolder;
    background:linear-gradient(45deg ,ivory, #8dc6ff);
    border:grey solid;
    box-shadow:10px 5px 5px black;
    border-radius: 5%;
    padding-top: 25px;
    margin-top:40px;
}



@media only screen and (max-width: 600px) {
   .html{
       width:100%;
       background:#009B4D;
      
   }
   
    .top{
        grid-template-rows: 100px 150px;
    }
    
    
    .title {
     font-size:3rem;
     height:160px;
     width:500px;
     position:relative;
     left:5px;
     text-align:center;
     padding-top:25px;
     border-radius: 10px;
     margin:auto;
    }
    
    #myBtn{
        width:120px;
        height:80px;
        padding:20px 0;
        font-size:2rem;
        margin-bottom:20px;
    }
    
    #myBtn1{
        width:120px;
        height:80px;
        padding:20px 0;
        font-size:2rem;
        margin-bottom:20px;
    }
    
    #name{
        height:40px;
        width: 150px;
        font-size:1rem;
        text-align:justify;
        margin:auto;

    }
    #answer{
        height:50px;
        width: 150px;
        font-size:1rem;
        text-align:justify;
        margin:auto;
    }
    .Facts{
        flex-direction:column;
    }
    #arrow{
        height:10px;
        width:10px;

  }
}
